$color-black: #000000;
$color-green: #129E3D;
$color-grey: #D3D3D3;
$color-white: #F2F2F2;

$backgroundg-gradient: (164.8deg, #467053 6.78%, #93BDA0 91.84%);

@font-face {
    font-family: 'DM Serif Display', serif;
    font-family: "Basier Circle";
    src: url("../font/BasierCircle-Regular.woff") format("woff"),
         url("../font/BasierCircle-Regular.woff2") format("woff2");
}

body {
    font-family: "Basier Circle";
    height: 100%;
    width: 100%;
}

.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1146px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}


.h1 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 68px;
}

.h2 {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
}

.h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.p-bolt {  
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
}

.p-reg {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.superlead  {
    font-size: 34px;
    line-height: 44px;
}

// ===== HEADER =====

.header {
    width: 100%;
    height: 240px;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    z-index: 100500;
}

.container__wraper-white {
    border: transparent;
    width: calc(100% - 30px);
    height: 200px;
    padding: 64px 0;
    transition: background 0.3s;
}

.header-bg {
    background-color: #fff !important;
    transition: all 0.3s;
}

.hover-bg {
    transition-property: all;
    transition-duration: 0.3s;
    background-color: #fff;
}

.logo__header {
    max-height: 75px;
    max-width: 247px;
    width: 100%;
    height: 100%;
}

.logo-hiden {
    display: none;
}


.container__header-menu {
    height: 20px;
}

.a__header-link {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}

.color-links {
    color: $color-black;
}

.a__header {
    margin-right: 48px;
    transition: color 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: $color-green;
    }
}

.container__button-hiden {
    display: none;

    .button-size {
    transform: rotate(180deg);
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 31px;
    background: transparent;
    border: 1px solid  transparent;
    }
}

.dash__line {
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    transition: 0.2s all;
}

.dash__line-bg {
    background: #000 !important;
}


.dash__line-first {
    top: 0;
    width: 90%;
}

.dash__line-second {
    top: 50%;
    width: 100%;
}

.dash__line-third {
    bottom: 0;
    width: 90%;
}

.dash-active .dash__line-second {
    opacity: 0;
}


.dash-active .dash__line-first {
    transform:translateY(-50%) rotate(-45deg);
    top: 50%;
    background-color: #000;
}

.dash-active .dash__line-third {
    transform:translateY(-50%) rotate(45deg);
    top: 50%;
    background-color: #000;
}

// ===== HEADER END =====

// ===== MAIN =====
// ===== SLIDER ====
.conteiner__slider {
    position: relative;
// 
}

.swiper {
    width: 100%;
    height: 100%;
} 

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.conteiner__img {
    height: 100vh;
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide-active .img-active {
    transition: all 5s ease !important;
    transform: scale(1.2, 1.2) !important;
} 

.h2__slider {
    // z-index: 1;
    position: absolute;
    padding: 0 15px;
    bottom: 240px;
    left: 0;
    bottom: 0;
    width: 687px; 
    height: 272px; 
    color: #fff;
    margin-bottom: 125px;
}

.container__scroll {
    position: absolute;
    bottom: 179px;
    left: 0;
    z-index: 11;
}

.span__scroll {
    cursor: pointer;
    display: flex;
    position: relative;
    width: 107px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    transition: color 0.3s;
}


.svg {
    right: 132px;
    top: -6px;
    position: absolute;
    transform: rotate(90deg);
}

.scroll-active {
    color: #129E3D;
    fill: #129E3D;
}

.svg-color {
    transition: fill 0.2s;
}

.container-pagination {
    position: relative;
    max-width: 1146px !important;
    width: 100% !important;
    margin: 0 auto !important;
}


.swiper-pagination {
    display: flex !important;
    justify-content: end !important;
    padding: 0 15px!important;
    bottom: 135px !important;
}

.swiper-pagination-style {
    background-color: #fff !important;
    width: 10px !important;
    height:  10px !important;
}
// ===== SLIDER END ====

// ===== Section TEXT =====

.container__text {
    padding: 120px 15px 60px !important;

    p {
        max-width: 836px;
        width: 100%;
    }
}

.container__h3 {
    margin: 0 0 80px;

    h3 {
        max-width: 920px;
        width: 100%;
    }
}

.container__article {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    .container__h3-item {
        margin: 0 0 80px;
        padding: 0 20px;

        h3 {
            max-width: 538px;
            width: 100%; 
            margin-bottom: 24px;
        }

        p {
            max-width: 538px;
            width: 100%;
        }
    }
}
// ===== Section TEXT END =====


//  ==== SECTION BANER ======

.section__banner {
    padding: 60px 0;

    .container-bg {
        background: linear-gradient(164.8deg, #467053 6.78%, #93BDA0 91.84%);
    }
    .container {
        max-width: 1116px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            max-width: 696px;
            width: 100%;
            height: 84px;
            padding-right: 58px;
            color: #fff;
        }
    }
}

.container__btn-link {
    max-width: 280px;
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    transition: 0.3s;

    &:hover {
        transition: 0.3s;
        color: #fff;
        background-color: #000;
    }
}

.section__sub-baner {
    .container {
       padding: 60px 15px;

       p {
        max-width: 836px;
        width: 100%;
        // height: 81px;
       }
    }
}

//  ==== SECTION BANER END ======

// ====== Section Carousel ======

.container__mySwiper3 {
    max-width: 100% !important; 
    padding: 60px 0 120px;
}

.section__carousel {

    .container {
        padding: 60px 15px 0;
        // padding-left: 15px;
        // padding-right: 15px;

        h4 {
            margin: 0 0 15px;
            max-width: 836px;
            width: 100%;
        }

        .container__titel-text {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
    }
}

.svg-color-link {
    transition: all 0.3s;
    color: #129E3D !important;
    fill: #129E3D !important;
}

.svg-transition {
    transition: 0.3s;
}

.link__carousel-title {
    color: #000;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.svg__carousel-title {
    margin-left: 19px;
}


.swiper-button-next::after {
    content: " " !important;

}

.swiper-button-prev::after {
    content: " " !important;
}

.swiper-wrapper-size {
    height: 400px !important;
    max-width: 1146px !important;
    width: 100% !important;
}

.swiper-slide-size {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.container-img {
    max-height: 400px !important;
    height: 100% !important;
    width: 100% !important;
    transition: 0.3s;
}

.conteiner__h5 {
    max-width: 456px;
    width: 110%;
    margin: 0 auto;
    padding: 0 0 56px;
    position: relative;
    z-index: 20;
}

.conteiner__h5-block {
    position: relative;
}

.a__block-link {
    overflow: hidden;
    padding: 240px 56px 105px;

    position: absolute;
    transition: 0.3s !important; 
    z-index: 16;
    opacity: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 48.18%, rgba(0, 0, 0, 0) 50.92%, rgba(0, 0, 0, 0.5) 100%);

    &:hover:before {
        min-width: 100%;
        min-height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(164.8deg,#467053 6.78%,#93BDA0 91.84%);
        opacity: 0.5;   
    }
}
// ====== Section Carousel END ======

//  =========== SECTION BANER =========

.section__baner {
    background: linear-gradient(164.8deg, #467053 6.78%, #93BDA0 91.84%);
}

.container__h6 {
    margin: 0 0 56px;

    h6 {
        color: #fff;
    }
}

.container__baner {
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container__block-baner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container__items-baner {
    background: #467053;
    max-width: 362px !important;
    width: 100% !important;
    height: 298px;
    margin: 0 30px 0 0;
}

.container__items-baner:last-child {
    margin: 0;
}

.container__item {
    max-width: 362px !important;
    width: 100% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 15px 0 40px;
}


.span__title-baner {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 223px;
    width: 100%;
}

.span__title-baner-1 {
    margin-bottom: 77px;

}

.span__title-baner-2 {
    margin-bottom: 98px;

}

.span__title-baner-3 {
    margin-bottom: 40px;
}

.img__baner-pading {
    padding-right: 15px;
}

.img__baner-1 {
    max-width: 228.49px;
    width: 100%;

}

.img__baner-2 {
    max-width: 282px;
    width: 100%;
}

.img__baner-3 {
    max-width: 211px;
    width: 100%;
}
//  =========== SECTION BANER END =========

//  ========== FO0TER =======
.footer {
    height: 120px;
    border-bottom: 1px rgba(0,0,0, 0.1) solid;
}

.container__footer {
    padding-top: 120px;
    height: 491px;
    position: relative;
    display: flex;
}

.container__nav-footer {
    max-width: 595px;
    width: 100%;
    padding-top: 120px;
}

.container__logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 15px;  

    .logo-black {
        width: 247.15px;
        height: 70px;
    }
}
.p__footer {
    max-width: 460px;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    opacity: 0.5;
    padding-top: 24px;
}

.nav__footer {
    display: flex;
    padding-top: 120px;
    width: 100%;
}

.ul__footer-links:first-child{
    max-width: 415px;
    width: 100%;
    padding-right: 15px;

}

.ul__footer-links:last-child {
    max-width: 190px;
    width: 100%;
}

.li__footer-links {
    padding-bottom: 16px;
}

.li__footer-links:last-child {
    padding: 0;
}

.a__footer-link {
    color: #000;
    width: 152px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    order: 1;
    transition: color 0.3s;
}

.a__footer-link:hover {
    color: #129E3D;
}


.copy-pading {
    margin-top: 127px;
    padding-bottom: 47px;
}

.btn__scroll-top {
    cursor: pointer;
    background: #e3e3e3;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    bottom: 0;
    right: 0;
    z-index: 10;
    position: fixed;
    opacity: 0;
}

.btn__scroll-position {
    opacity: 1 !important;
    transition: 0.3s;
}

.btn__scroll-hiden {
   pointer-events: none;
}

.svg__btn-footer {
    transition: fill 0.15s;
}

.bg__btn-svg {
    background-color: #000;
    fill: #fff;
}

//  ========== FO0TER  END =======