$color-green: #129E3D;

.section__title {
    background-image: url(../images/terra/tittle.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    display: flex;
    align-items: flex-end;
    // margin-bottom: 60px;

    .container {
        padding-bottom: 120px;
        color: #fff;

        h1 {
            padding-bottom: 24px;
        }
    }
}


.section__title-sub {
    display: flex;
    align-items: center;
    background: #fff;
    
    .container {
        padding: 120px 15px;
        display: flex;

        .container__span {
            display: flex;
            flex-direction: column;
            max-width: 326px;
            width: 100%;
            margin-right: 30px;

            .link__span-title {
                color: #000;
                transition:  color 0.3s;

                &:hover {
                    color: $color-green;
                }

                &:nth-child(2) {
                    padding-bottom: 39px;
                }
            }
        }

        .container__text-title {
            max-width: 754px;
            width: 100%;
        }
    }
}
