/* @media (max-width: 1300px ) {
    .container__scroll {
        display: none;
    }
} */


/* @media (max-width: 1200px ) {
    .container__h3-item {
        width: 100%;
    }

    .article__h3-lil {
        width: 100%;
        max-width: 100% !important;
    }

    .p__text-lil {
        width: 100%;
        max-width: 100% !important;
    }
} */

/* @media (max-width: 1020px) { */
    
    /* .header {
        align-items: flex-start;
    } */

    /* .container__header-menu {
        display: flex;
        flex-direction: column;
    } */


    /* .a__header-link {
        margin-bottom: 15px;
    } */

    /* .a__header-link:last-child {
        margin-bottom: 0;
    } */

    /* .h2__slider {
        font-size: 46px;
        max-width: 430px;
        width: 100%;
        height: 210px;
        line-height: 52px;
    } */

    /* .container__wraper-white {
        width: 100%;
    } */

    /* .conteiner__slider {
        width: 100%;
    } */

    /* .swiper-pagination {
        padding-right: 30px !important;
    } */

/* } */

/* @media (max-width: 1020px)  { */
    /* .container__banner-flex {
        flex-direction: column;
        height: 240px;
    } */
/* 
    .container__banner-flex {
        height: 240px;
    } */

    /* .h3__banner-color {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
        margin: 0;
    } */
/* 
    .container__baner  {
       height: 100%; 
    }
    .section__baner {
        height: 1200px;
    } */
/* 
    .container__block-baner {
        flex-direction: column;
        justify-content: center;
    }

    .container__block-baner {
        align-items: center;
    }

    .container__items-baner {
        margin: 0 0 20px;
        max-width: 100% !important;
        width: 100%;
    } */
/* 
    .h6__baner-color {
        font-size: 36px;
    }

    .swiper__h5-color {
        font-size: 26px !important;
    }

    .swipere__p {
        font-size: 18px;
    } */

/* } */


/* @media (max-width: 768px) { */
    /* .section__carousel .container .container__titel-text {
        align-items: flex-start;
    } */

    /* .container-flex {
        flex-direction: column;
    } */

    /* .conteiner__slider {
        width: 95%;
    } */
    
    /* .logo-white {
        width: 176px;
        height: 50px;
    }

    .logo-black {
        width: 176px;
        height: 50px;
    } */
/* 
    .h2__slider {
        max-width: 630px;
        width: 100%;
    }

    .container__button-hiden {
        height: 60px;
    } */

    /* .button-size {
        width: 30px;
        height: 27px;
    }

    .header {
        z-index: 11;
        height: 140px;
        pointer-events: auto;
    } */
/* 
    .header-bg {
        box-shadow: 0 0 20px gray;
        position: fixed;
    }

    .heder__trans {
        transform: translateY(-240px);
    } */


    /* .container__logo {
        display: flex;
        max-width: 1146px;
        width: 100%;
        align-items: center;
    } */

    /* .container__header { */
        /* flex-direction: column; */
        /* padding-top: 30px; */
        /* padding-bottom: 30px; */
        /* margin: auto */
        /* justify-content: flex-start; */
        /* align-items: center !important; */
        /* height: 100vh; */
        /* padding: 30px 30px; */

    /* } */

    /* .container__wraper-white{ */
        /* max-width: 100%; */
        /* padding: 35px 0 0 0; */
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start; */
    /* } */

    /* .container__hrader-vh {
        height: 100vh ;
    } */

    /* .container__header-menu {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    } */

    /* .a__header-link {
        font-size: 28px;
        margin-top: 30px;
        margin-right: 0;
        font-weight: 800;
    } */


    /* .container__button-hiden {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
    } */
    
    /* .header__menu_hiden {
        display: none !important;
    } */

    
    /* .a__header-link {
        color: black !important;
    } */


    /* .container-pagination {
        position: relative;
        /* max-width: 100% !important; */
        /* margin: 0 auto !important; */
    /* } */

    /* .swiper-pagination {
        width: 100% !important;
        position: absolute;
        bottom: 50px !important;
        left: 0% !important;
        justify-content: center !important;
    } */


    /* .body-hiden {
        overflow: hidden
    } */


    /* .mobile-menu-show .logo-white {
        display: none;
    }

    .mobile-menu-show .logo-black {
        display: block;
    } */

    /* body {
        zoom: unset;
    }  */


    /* .container__article-size {
        padding: 30px 15px;
    } */

    /* .p__text-size {
        font-size: 16px;
    } */

    /* .container__text  {
        padding: 60px 15px 30px !important;
    } */



    /* .article__h3-big {
        font-size: 32px;
        line-height: 42px;
    } */

    /* .article__h3-lil {
        font-size: 28px;
        line-height: 32px;;
    } */

    /* .h3__banner-color {
        font-size: 24px;
        line-height: 32px;
        height: 100px;
    } */

    /* .p__text-lil {
        line-height: 30px;
    } */

    /* .container__titel-text {
        flex-direction: column;
        align-items: flex-start;
    } */

    /* .container__link-carousel {
        margin-top: 15px;
    } */

    /* .container__footer {
        flex-direction: column;
    }

    .nav__footer {
        padding-top: 30px;
    }

    .btn__scroll-top {
        display: none;
    } */


    /* .swiper-slide {
        max-width: 100%;
        width: 100% !important;
    } */
/* } */


/* @media (max-width: 425px) { */
    /* .h2 {
        width: 360px;
        height: 210px;
        font-family: 'DM Serif Display';
        font-size: 28px;
        line-height: 40px;
        color: #FFFFFF;
        text-align: center;
    }   */

    /* .h3__banner-color {
        font-size: 20px;
        line-height: 32px;
    }    */

    /* .article__h3-big  {
        font-size: 28px;
    } */
/* } */

/* @media (max-width: 375px) { */
    /* .h2 {
        width: 280px;
        height: 220px;
        font-family: 'DM Serif Display';
        font-size: 26px;
        line-height: 38px;
        color: #FFFFFF;
        text-align: center;
    }    */

    /* .a__header-link {
        font-size: 26px;
    } */

/* } */